.container {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  font-weight: bolder;
}
label {
  font-size: large;
  margin: 0.5rem;
}
.dobInput {
  margin: 0.5rem;
  width: 16%;
  padding: 0.5rem;
  border: 2px solid purple;
  border-radius: 12px;
}
.resultValue {
}
.btn {
  width: 7%;
  height: 5%;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 2px solid purple;
  border-radius: 12px;
  background-color: purple;
  cursor: pointer;
}
